<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="ae.Emperesse.rate" version="1.1.0" versionCode="1">
        <name>EMPERESSERATE</name>
        <description>
            EMPERESSE RATE
        </description>

        <author href="http://webmastersdubai.com/" email="support@webmastersdubai.com">Kehul Shah</author>
        <content src="index.html" />
        
        <!-- Define app icon for each platform. -->
        <icon src="icon.png" />
        <!--icon src="resources/android/icon/drawable-ldpi-icon.png"   gap:platform="android"    gap:density="ldpi" />
        <icon src="resources/android/icon/drawable-mdpi-icon.png"   gap:platform="android"    gap:density="mdpi" />
        <icon src="resources/android/icon/drawable-hdpi-icon.png"   gap:platform="android"    gap:density="hdpi" />
        <icon src="resources/android/icon/drawable-xhdpi-icon.png"  gap:platform="android"    gap:density="xhdpi" /-->
        <icon src="resources/ios/icon.png"            gap:platform="ios"        width="57" height="57" />
        <icon src="resources/ios/icon-72.png"        gap:platform="ios"        width="72" height="72" />
        <icon src="resources/ios/Icon@2x.png"         gap:platform="ios"        width="114" height="114" />
        <icon src="resources/ios/icon-72@2x.png"        gap:platform="ios"        width="144" height="144" />

        <!-- Define app splash screen for each platform. -->
        <!--gap:splash src="resources/android/splash/drawable-ldpi/screen.png"  gap:platform="android" gap:density="ldpi" />
        <gap:splash src="resources/android/splash/drawable-mdpi/screen.png"  gap:platform="android" gap:density="mdpi" />
        <gap:splash src="resources/android/splash/drawable-hdpi/screen.png"  gap:platform="android" gap:density="hdpi" />
        <gap:splash src="resources/android/splash/drawable-xhdpi/screen.png"  gap:platform="android" gap:density="xhdpi" /-->
        <gap:splash src="resources/ios/screens/Default~iphone.png"                  gap:platform="ios"     width="320" height="480" />
        <gap:splash src="resources/ios/screens/Default@2x~iphone_640x960.png"       gap:platform="ios"     width="640" height="960" />
        <gap:splash src="resources/ios/screens/Default-568h@2x~iphone_640x1136.png" gap:platform="ios"     width="640" height="1136" />
        <gap:splash src="resources/ios/screens/Default-750@2x~iphone6-portrait_750x1334.png" gap:platform="ios"     width="750" height="1334" />
        <gap:splash src="resources/ios/screens/Default-Portrait~ipad_768x1024.png"  gap:platform="ios"     width="768" height="1024" />
        <gap:splash src="resources/ios/screens/Default.png"                         gap:platform="ios"     width="768" height="1004" />
        <gap:splash src="resources/ios/screens/Default-Landscape~ipad_1024x748.png" gap:platform="ios"     width="1024" height="748" />
        <gap:splash src="resources/ios/screens/Default-Landscape~ipad_1024x768.png" gap:platform="ios"     width="1024" height="768" />
        <gap:splash src="resources/ios/screens/Default-750@2x~iphone6-landscape_1334x750.png" gap:platform="ios"     width="1334" height="750" />
        <gap:splash src="resources/ios/screens/Default-1242@3x~iphone6s-portrait_1242x2208.png" gap:platform="ios"     width="1242" height="2208"/>
        <gap:splash src="resources/ios/screens/Default-Portrait@2x~ipad_1536x2008.png" gap:platform="ios"    width="1536" height="2008"/>
        <gap:splash src="resources/ios/screens/Default-Portrait@2x~ipad_1536x2008.png" gap:platform="ios"    width="1536" height="2048"/>
        <gap:splash src="resources/ios/screens/Default-Portrait~ipad_768x1024.png" gap:platform="ios"    width="768" height="1024"/>
        <gap:splash src="resources/ios/screens/Default-1242@3x~iphone6s-landscape_2208x1242.png" gap:platform="ios"     width="2208" height="1242"/>
        <gap:splash src="resources/ios/screens/Default-Landscape@2x~ipad_2048x1496.png" gap:platform="ios"     width="2048" height="1496"/>
        <gap:splash src="resources/ios/screens/Default-Landscape@2x~ipad_2048x1536.png" gap:platform="ios"     width="2048" height="1536"/>
        
        <gap:splash src="splash.png" />
        

        <gap:platform name="ios" />
        <gap:platform name="android" />
        <gap:platform name="winphone" />

        <!-- GENERAL PREFERENCES -->

        
        <preference name='phonegap-version' value='cli-5.2.0' />
        <!--preference name='phonegap-version' value='3.5.0' /-->
        <preference name="webviewbounce" value="false" />
        <preference name="UIWebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="BackupWebStorage" value="none" />
        <preference name="orientation" value="portrait" />
        <!--preference name="orientation" value="default" /-->
        <preference name="fullscreen" value="false" />
        <!-- remove the upper bar on iOS and Android -->
        
        <!-- iOS PREFERENCES -->

        <preference name="target-device" value="universal" />
        <preference name="prerendered-icon" value="true" />
        <preference name="ios-statusbarstyle" value="black-opaque" />
        <preference name="detect-data-types" value="false" />
        <preference name="exit-on-suspend" value="false" />

        <preference name="webviewbounce" value="false" />
        <preference name="stay-in-webview" value="false" />

        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />

  
        <gap:plugin name="org.apache.cordova.battery-status" />
        <gap:plugin name="org.apache.cordova.splashscreen" />
        <gap:plugin name="org.apache.cordova.network-information" />
        <gap:plugin name="cordova-plugin-file" source="npm" />
        <!--<feature name="http://api.phonegap.com/1.0/network"/>        
        -->

  


  

    
        <access origin="*"/>
        <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
        <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
        <plugin name="cordova-plugin-whitelist" version="1" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="tel:*" />
        <allow-intent href="sms:*" />
        <allow-intent href="mailto:*" />
        <allow-intent href="geo:*" />
        <platform name="android">
            <allow-intent href="market:*" />
        </platform>
        <platform name="ios">
            <allow-intent href="itms:*" />
            <allow-intent href="itms-apps:*" />
        </platform>
    

    </widget>