<ion-view>
    <ion-pane>
        <div class="app-base">
            <div class="app-header">
                <div class="title-img"></div>
            </div>
            <div class="app-content">
                <ion-content scroll="false">
                    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false"> 
                        <div class="text-content">
                            <div>
                                <br />
                                <div style="text-align: center;">
                                    <span> ABOUT US</span>
                                </div>
                                <br />
                                <p>
                                    Emperesse Bullion LLC is fully owned and operated by Manish Jewellers LLC. Parent group of Manish Jewellers had a humble start in Dubai way back in 1956. The group in its present name and structure was established in 1981 and since then we cater to the need of an ever growing group loyal customers. We are one of the prominent names in Bullion trading in UAE with a 24 hours highly professional dealing room. The group also is into Diamond Jewellery retail, manufacture, branded jewelry wholesale and certified diamond retail and wholesale.
                                </p>
                            </div>
                            <div>
                                <span><h6>DISCLAIMER</h6></span>
                                <br />
                                <p>The price provided here is indicative at that given point of time and doesn’t constitute an offer. This is a free price information given to the user. For actual trade, the user need to press the telephone icon and contact the dealing room staff.
                                </p>
                            </div>
                        </div>

                    </ion-scroll>
                </ion-content>
            </div>
            <div class="app-footer">
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="pricestream">
                            <p>PRICE STREAM</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="delivery">
                            <p>DELIVERY</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="termsandcondition">
                            <p id="terms">TERMS & CONDITIONS</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="paylater">
                            <p>PAY LATER</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="buyback">
                            <p>BUY BACK</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" href="tel:+971 4 3380909">
                            <img src="img/call-us.png" class="callus">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </ion-pane>
</ion-view>