<ion-view>
    <ion-pane>

        <!--ion-content-->
        <div class="app-base">
            <div class="app-header">
                <div class="title-img"></div>
            </div>
            <div class="app-content">
                <ion-content scroll="false">
                    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
                        <div class="row">
                            <div class="col">
                                <div class="text-content">
                                    <div>
                                        <br />
                                        <div class="text-center">
                                            <span> BUY BACK </span>
                                        </div>
                                        <br />
                                        <p>Emperesse Bullion LLC offers its customer a buy back scheme whereby we will buy back the products from the customers with a deduction of prefixed buy back charges. The buyback scheme will be as per the following terms and conditions.
                                        </p>

                                        <ul style="margin: 10px;">
                                            <li>Customer needs to call on the dedicated telephone line to arrange for the buy back. Customers need to bring the items back to one of our location in Dubai to arrange for us to buy back the item and make payment to the customer.
                                            </li>
                                            <li>The buyback price will be the current price less the buyback charges. The current market price shall be the selling price quoted by Emperesse Bullion LLCat the time of buy back transaction which is available and quoted as per the dedicated dealing room as well as the screen price provided by Emperesse Bullion LLC.
                                            </li>
                                            <li>The buyback charges applicable currently for the different products are as below:
                                                <br/>
                                                <br/>
                                                <div class="row" style="font-weight:bold;">
                                                    <div class="col-80 text-left">PRODUCT</div>
                                                    <div class="col-20 text-right"> AED </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">1 GM GOLD BAR 999.9 PURITY</div>
                                                    <div class="col-20 text-right"> 35 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">2.5 GM GOLD BAR 999.9 PURITY</div>
                                                    <div class="col-20 text-right"> 50 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">5 GM GOLD BAR 999.9 PURITY</div>
                                                    <div class="col-20 text-right"> 60 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">10 GM GOLD BAR 999.9 PURITY</div>
                                                    <div class="col-20 text-right"> 80 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">20 GM GOLD BAR 999.9 PURITY </div>
                                                    <div class="col-20 text-right"> 130 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">50 GM GOLD BAR 999.9 PURITY</div>
                                                    <div class="col-20 text-right"> 260 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">100 GM GOLD BAR 999.9 PURITY</div>
                                                    <div class="col-20 text-right"> 360 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">1 OZ GOLD BAR 999.9 PURITY</div>
                                                    <div class="col-20 text-right"> 180 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">TEN TOLA GOLD BAR 999 PURITY</div>
                                                    <div class="col-20 text-right"> 240 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">1 KG GOLD BAR 995 PURITY</div>
                                                    <div class="col-20 text-right"> 850 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">8 GM GOLD COIN 22 KARAT</div>
                                                    <div class="col-20 text-right"> 20 </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-80 text-left">1 KG SILVER BAR 995 PURITY</div>
                                                    <div class="col-20 text-right"> 270 </div>
                                                </div>
                                            </li>
                                            <li>The original invoice and certificates need to be produced by the customer.</li>
                                            <li>The buyback offer is only applicable for the products sold by Emperesse Bullion LLC.</li>
                                            <li>The products should be in sellable condition. </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-content>
            </div>
            <div class="app-footer">
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="pricestream">
                            <p>PRICE STREAM</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="delivery">
                            <p>DELIVERY</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="termsandcondition">
                            <p id="terms">TERMS & CONDITIONS</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="paylater">
                            <p>PAY LATER</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="aboutus">
                            <p>ABOUT US</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ng-href="tel:+971 4 3380909">
                            <img src="img/call-us.png" class="callus">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--/ion-content-->


    </ion-pane>
</ion-view>