<ion-view>
    <ion-pane>

        <!--ion-content-->
        <div class="app-base">
            <div class="app-header">
                <div class="title-img"></div>
            </div>
            <div class="app-content">
                <ion-content scroll="false" >
                    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false"> 
                    <div class="row">
                        <div class="col">
                            <div class="text-content">
                                <div>
                                    <div class="text-center">
                                        <span> DELIVERY </span>
                                    </div>
                                    <br />
                                    <p>Emperesse Bullion LLC offers its customer a buy back scheme whereby we will buy back the products from the customers with a deduction of prefixed buy back charges. The buyback scheme will be as per the following terms and conditions.
                                    </p>

                                    <ul style="margin: 10px;">
                                        <li>All products booked through this apps shall be delivered to customer locations in UAE subject to the terms and conditions provided herewith
                                        </li>
                                        <li>A delivery fee will be charged over and above the price of bullion product purchased from us. Currently the charges are as below for delivery in different emirates in UAE. 
                                            <br/>
                                            <div class="row" style="font-weight:bold;">
                                                <div class="col-80 text-left"></div>
                                                <div class="col-20 text-right"> AED </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-80 text-left">Sharjah</div>
                                                <div class="col-20 text-right"> 100 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-80 text-left">Ajman and UAQ</div>
                                                <div class="col-20 text-right"> 150 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-80 text-left">All other Emirates</div>
                                                <div class="col-20 text-right"> 200 </div>
                                            </div>
                                        </li>
                                        <li>Delivery in Dubai will be executed within a maximum time frame of 48 hours from confirming the order with us. The maximum time limit for other emirates are 72 hours from confirming the order with us.</li>
                                        <li>Original Emirates ID /passport/ any photo ID of the customer needs to be provided to the delivery staff at the time of delivery. </li>
                                        <li>Customers can pay using credit card or cash at the time of delivery or make payment through our website.  </li>
                                        <li>Customers are required to sign on the delivery note and invoice at the time of accepting the delivery of the product. A copy of the invoice will be given to the customer along with the bullion products.   </li>
                                                                                <li>6.	Customers are required to sign on the delivery note and invoice at the time of accepting the delivery of the product. A copy of the invoice will be given to the customer along with the bullion products.   </li>
                                        <li>Each bullion product delivered (except the Ten Tola Bar or TT Bars) will be accompanied by the certificate from the refiner. It is usual practice that the refiners do not provide certificate or serial number TT Bars in most cases.</li>
                                        <li>By accepting the delivery of the product, the customer/buyer deem to agree with the quality, quantity and other features of the product as mentioned in the accompanying invoice. No complaints will be entertained after the delivery is executed. </li>
                                        <li>Emperesse Bullion LLC reserves the right to refuse delivery to some locations without necessarily providing any reasons. </li>
                                        <li>While booking the products with Emperesse Bullion LLC, customers’ needs to agree on the collection and payment method. In case the customer opt for delivery at their preferred location, the location and timing cannot be changed except in rare cases and with prior approval of Emperesse Bullion LLC. </li>

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </ion-scroll>
                </ion-content>
            </div>
            <div class="app-footer">
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="pricestream">
                            <p>PRICE STREAM</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="aboutus">
                            <p>ABOUT US</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="termsandcondition">
                            <p id="terms">TERMS & CONDITIONS</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33" >
                        <a class="button rate-button" ui-sref="paylater">
                            <p>PAY LATER</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="buyback">
                            <p>BUY BACK</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ng-href="tel:+971 4 3380909">
                            <img src="img/call-us.png" class="callus">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--/ion-content-->


    </ion-pane>
</ion-view>