<ion-view>
    <ion-pane>

        <!--ion-content-->
        <div class="app-base">
            <div class="app-header">
                <div class="title-img"></div>
            </div>
            <div class="app-content">
                <ion-content scroll="false" >
                    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false"> 
                    <div class="row">
                        <div class="col">
                            <div class="text-content">
                                <div>
                                    <div class="text-center">
                                        <span> PAYLATER </span>
                                    </div>
                                    <br />
                                    <p>For Payment Plan customers call our customer service no: </p>
                                    <p>Landline : +971 04 3380909 </p>
                                    <p>Mobile   : +971 056 116 1826</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </ion-scroll>
                </ion-content>
            </div>
            <div class="app-footer">
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="pricestream">
                            <p>PRICE STREAM</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="aboutus">
                            <p>ABOUT US</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="termsandcondition">
                            <p id="terms">TERMS & CONDITIONS</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33" >
                        <a class="button rate-button" ui-sref="delivery">
                            <p>DELIVERY</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="buyback">
                            <p>BUY BACK</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ng-href="tel:+971 4 3380909">
                            <img src="img/call-us.png" class="callus">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--/ion-content-->


    </ion-pane>
</ion-view>
