<ion-view>
    <ion-pane>

        <!--ion-content-->
        <div class="app-base">
            <div class="app-header">
                <div class="title-img"></div>
            </div>
            <div class="app-content">
                <ion-content scroll="false">
                    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
                        <div class="row">
                            <div class="col">
                                <div class="text-content">
                                    <div>
                                        <br />
                                        <div class="text-center">
                                            <span> TERMS AND CONDITIONS </span>
                                        </div>
                                        <br />
                                        <br/>

                                        <ul style="margin-left: 30px;">
                                            <li>The prices displayed in this application is indicative prices and is linked to the prices of gold in the international markets. The prices will keep on changing while the international markets are open and will display the closing rates fixed by Empresses Bullion LLC while the international market are closed.
                                            </li>
                                            <li>The prices displayed in this application doesn’t constitute an offer, but only intended to be a price indication of various products that are available for customers to be purchased from us.
                                            </li>
                                            <li>In order for the customers to buy the products from Emperesse Bullion LLC, customers need to call the dedicated telephone number 04 3380909 during office hours and confirm the price, quantity, quality, make, payment mechanism and delivery instructions with one of our dealers. </li>
                                            <li>The telephone calls to the above dedicated telephone lines are recorded and will form part of the agreement between Emperesse Bullion LLC and the customer regarding price, quantity, quality, delivery, payment mode and other terms. </li>
                                            <li>The price quoted by Emperesse Bullion shall constitute the cost of the product and the making charge of the product but exclude the delivery charges. For items of maximum weight of upto 350 Gms , customers can fix the price with Emperesse Bullion over the dedicated telephone line for this purpose before making payment for the same. If the gross weight is more than 350Gm customers need to make the payment first before fixing the price of the bars.</li>
                                            <li>Customers have the discretion to opt either to collect the product from designated delivery locations specified by Emperesse Bullion or to get it delivered in UAE in an agreed address/location of the customer. However, Emperesse Bullion reserve the right to refuse delivery to any location without necessarily giving sufficient reasons for the same. In case the customer opt to get the product delivered in their preferred locations, an additional delivery charge may apply over and above the agreed price of the product.</li>
                                            <li>Once the customer agrees the price by calling the dedicated line, then an irrevocable agreement comes in place between the customer and Emperesse Bullion. The price changes after such agreement and before the time of delivery will not have any bearing on the agreed price and both parties shall be committed to the agreed price irrespective of such changes in price after such agreement. </li>
                                            <li>The prices indicated in this application is for cash payments. In case customer opts to pay using credit cards an extra processing fee of 2.75% will be applicable. However, in case of Amex, Diners Club card etc the processing fee will be 3.75%.</li>
                                            <li>Maximum quantity which can be delivered at customer location is 1 Kg. In case customer wants to buy a quantity more than 1 Kg, then customers’ needs to collect the items from designated delivery locations specified by Emperesse Bullion LLC. </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-scroll>
                </ion-content>
            </div>
            <div class="app-footer">
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="pricestream">
                            <p>PRICE STREAM</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="aboutus">
                            <p>ABOUT US</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="delivery">
                            <p>DELIVERY</p>
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="paylater">
                            <p>PAY LATER</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" ui-sref="buyback">
                            <p>BUY BACK</p>
                        </a>
                    </div>
                    <div class="col-33">
                        <a class="button rate-button" href="tel:+971 4 3380909">
                            <img src="img/call-us.png" class="callus">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!--/ion-content-->


    </ion-pane>
</ion-view>